body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
button {
    padding: 10px 50px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

#score{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}